$color-dark: rgb(32 32 32);
$color-light: rgb(139, 139, 139);
$color-green: rgb(52, 125, 23);
$color-dark-green: rgb(31, 93, 16);
$color-white: white;

$font-text: 'Poppins', sans-serif;

* {
  background: rgb(32,32,32);
  font-family: $font-text;
  color: $color-white;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}